/* variables */
:root {

}


/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, canvas, svg, picture, video {
  max-width: 100%;
  display: block;
}
button, select, textarea, input {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* general styling */
